<div class="header">
    <h1 class="trade-mark-green"> V </h1>
    <h1 class="trade-mark-blue"> Linked </h1>
    <a class="jobs-link"> Jobs </a>
    <a class="resume-link"> Resume Builder </a>
    <nav class="button-location">
        <a routerLink="/login"><button class="signup" > SignUp </button></a>
        <a routerLink="/signup"><button class="login" > LogIn </button></a>
    </nav>
</div>
<div class="body">
    <div class="text-side">
        <h1 class="top-text"> Looking For A Job? </h1>
        <h1 class="bottom-text"> Join the thousands of veterans that have found their dream job on VLinked. </h1>
    </div>
    <div class="image-side">
        <img src="assets/images/Solution_2_D.jpg">
    </div>

</div>

<router-outlet></router-outlet>

