<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    
      <a routerLink="/home" class="px-5 d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <span class="trade-mark-green"> V </span><span class="trade-mark-blue"> Linked </span>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/home" class="h3  px-2 link-dark text-decoration-none">Jobs</a></li>
        <li><a routerLink="/resume" class="h3  px-2 .text-primary text-decoration-none">Resume Builder</a></li>
      </ul>
      <div class="row">
        <div class="px-5 col-sm">
          <h1 class="account-name"> Hello {{currentAccount.firstN}} {{currentAccount.lastN.substring(0,1)}}</h1>
        </div>
        <div class="px-5 col-sm">
          <a (click)="logout()" routerLink="/" class="log-out">LogOut</a>
        </div>
      </div>
    
    </header>
<div class="row">
  <div class="header__content-wrapper">
    <div class="header__filename">
    </div>
    <div class="header__pdf-controls">
      <button (click)="clickEvent()" type="button" class="btn header__btn btn-primary" id="liveToastBtn">Add to Profile</button>
      
      <button (click)="download()" class="header__btn" >download</button>
    </div>
  </div>
</div>
  <!-- header template -->

<!-- pdf-viewer section -->

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="toastmessage" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">VLinked</strong>
      <button (click)="clickEvent()" type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Your Resume is sucessfully added to your profile
    </div>
  </div>
</div>
<div class="output-pdf-viewer">
  <pdf-viewer
    [src]="pdfSrc"
    [(page)]="pageVariable"
    [show-all]="true"
    [stick-to-page]="true"
    [render-text]="true"
    [original-size]="false"
    [fit-to-page]="true"
    [autoresize]="true"
    [show-borders]="true"
    [zoom]="zoom"
    (after-load-complete)="afterLoadComplete($event)"
    #pdfViewer
  ></pdf-viewer>
</div>
 
  <router-outlet></router-outlet>