// Dividers
.body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: #3563E9;
    margin-top: 8px;
}
.left-side {
    width: 45%;
    display: flex;
    flex-direction: column;
}
.left-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 12px;
}
.right-side {
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 40px 0px 0px 40px;
}
.error-account{
    padding-left: 30%; 
    font-size: 16px; 
    padding-top: 5px;
    color: red;
    font-weight: bold;
}
// Image
.left-image {
    width: 75%;
    height: 75%;
    padding-top: 7%;
    padding-left: 25%;
}

// Button
.home-button{
    background-color: #3563E9;
    color: #ffffff;
    border-color: #3563E9;
    margin: auto;
    width: 103%;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

// Header
.trade-mark-white {
    font-size: 32px;
    font-weight: 400;
    color: #ffffff;
}
.trade-mark-black {
    font-size: 32px;
    font-weight: 400;
    color: #000000;
    margin-left: 9.4%;
}
.title {
    font-size: 40px;
    font-weight: 400;
    color: #000000;
    padding-left: 30%;
    padding-top: 8%;
}