<div class="body">
    <div class="left-side">
        <div class="left-text">
            <h1 class="trade-mark-black"> V </h1>
            <h1 class="trade-mark-white"> Linked </h1>
        </div>
        <img class="left-image" src="../../assets/images/Log_In_Image.jpg">
    </div>
    <div class="right-side">
        <h1 class="title"> Log In </h1>
        <label for="exampleFormControlInput1" class="form-label" style="padding-left: 30%; padding-top: 25px; font-size: 20px;">Email</label>
        <div style="padding-left: 30%; width: 61%; padding-top: 5px;" >
            <input type="text" class="form-control" style=" width: 100%; height: 40px; font-size: 16px; font-style: italic;" id="inputEmail" placeholder="name@example.com">
        </div>
        <label for="exampleFormControlInput1" class="form-label" style="padding-left: 30%; font-size: 20px; padding-top: 25px;">Password</label>
        <div style="padding-left: 30%; width: 61%; padding-top: 5px;" >
            <input type="text" class="form-control" style=" width: 100%; height: 40px; font-size: 16px; font-style: italic;" id="inputPassword" placeholder="*********">
        </div>
        <div style="padding-left: 30%; width: 60%; padding-top: 30px;" >
            <a routerLink="{{path}}"><button class="home-button" (click)="checkAccount()"> Log In </button></a>
        </div>
        <div style="display: flex; flex-direction: row; padding-left: 30%;">
            <p style="font-weight: 200; font-style:italic; font-size:14px;">Don't have an account?</p>
            <a routerLink="/signup" style="margin: left; font-weight: 600; font-style:italic; font-size:14px; padding-left: 5px;"> Sign Up </a>
        </div>  
        <div class="error-account" *ngIf="accountNotExist" > Incorrect Email and/or Password. </div>    
    </div>
</div>
