<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

      <a routerLink="/home" class="px-5 d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <span class="trade-mark-green"> V </span><span class="trade-mark-blue"> Linked </span>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/home" class="h3  px-2 link-dark text-decoration-none">Jobs</a></li>
        <li><a routerLink="/resume" class="h3  px-2 .text-primary text-decoration-none">Resume Builder</a></li>
      </ul>
      <div class="row">
        <div class="px-5 col-sm">
          <h1 class="account-name"> Hello {{currentAccount.firstN}} {{currentAccount.lastN.substring(0,1)}}</h1>
        </div>
        <div class="px-5 col-sm">
          <a (click)="logout()" routerLink="/" class="log-out">LogOut</a>
        </div>
      </div>

    </header>
<form class="px-5 my-4 text-center">
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <h2 class="display-6  fw-bold .text-primary ">Education</h2>
  <div class="px-5 py-5 row mb-4">
    <div class="col">
      <div class="form-outline">
        <input type="text" value={{schoolname}} placeholder="School Name" id="schoolname" class="form-control" />
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <input type="text" value={{schoolcity}} placeholder="City" id="schoolcity" class="form-control" />
      </div>
    </div>
  </div>
  <div class="px-5 py-5 row mb-4">
    <div class="col">
      <div class="form-outline">
        <input type="text" value={{schoolstate}} placeholder="State" id="schoolstate" class="form-control" />
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <select class="form-select" value={{degree}} id="degree" aria-label="Default select example">
          <option selected>Degree</option>
          <option value="masters">Master's Degree</option>
          <option value="bachelors">Bachelors Degree</option>
          <option value="other">Other</option>
          
        </select>
      </div>
    </div>
  </div>


  <!-- Text input -->
  <!-- Text input -->


  <div class=" py-4 row mb-4">
    <div class="col">
      <div class="form-outline">
        <button routerLink="/resume2" type="button" class="btn btn-secondary btn-lg px-4 gap-3">Back</button>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <button (click)="readData('pg3')" routerLink="/resume4" type="button" class="btn btn-warning btn-lg px-4 gap-3">Save & Next</button>
      </div>
    </div>
  </div>

  
</form>
<router-outlet></router-outlet>