.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding-right: -100px;
    margin-left: 8px;
    margin-top: 8px;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 2px -2px gray;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 8px;
}
.search-bar {
    display: flex;
    flex-direction: row;
}
.bottom-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10%;
    padding-top: 2.5%;
}
.bottom-tabs {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 1%;
}
.highlighter {
    width: 226px;
    height: 7px;
    background-color: #637CFF;
    border-radius: 5px 5px 0px 0px;
    margin-top: -5px;
}
.bottom-section {
    width: 100vw;
    height: 57vh;
    margin-top: 10px;
    background-color: #DAF4FF;
    border-radius: 40px 40px 0px 0px;
}

// Navigation
.button-location{
    margin-top: 1px;
    margin-left: 24%;
}


// Anchors
.jobs-link {
    color: #3563E9;
    font-size: 24px;
    font-weight: 600;
    margin-top: 3px;
    margin-left: 30%;
    cursor: pointer;
}

.resume-link {
    color: black;
    font-size: 24px;
    font-weight: 500;
    margin-top: 3px;
    margin-left: 40px;
    cursor: pointer;
}

// Header
.trade-mark-blue {
    font-size: 32px;
    font-weight: 400;
    color: #3563E9;
}
.trade-mark-green {
    font-size: 32px;
    font-weight: 400;
    color: #62B544;
    margin-left: 3.5%;
}
.progress-text{
    font-size: 28px;
    font-weight: 400;
    color: black;
}
.tab-text{
    font-size: 32px;
    font-weight: 600;
    color: black;
}


// Button
.login {
    background-color: #3563E9;
    border: none;
    color: white;
    padding: 8px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  } 
.search{
    background-color: #3563E9;
    border: none;
    color: white;
    padding: 8px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  } 