<div class="body">
    <div class="header">
        <h1 routerLink="/home" class="trade-mark-green"> V </h1>
        <h1 routerLink="/home" class="trade-mark-blue"> Linked </h1>
        <a routerLink="/job1" class="jobs-link" style="text-decoration: none;"> Jobs </a>
        <a routerLink="/resume" class="resume-link" style="text-decoration: none;"> Resume Builder </a>
        <a style="  padding-left: 22%; width: 500px;" routerLink="/account"><h1 class="account-name"> Hello, {{currentAccount.firstN}} {{currentAccount.lastN.substring(0,1)}}.</h1></a>
        <nav class="button-location">
            <a  (click)="logout()" routerLink="/" class="log-out">LogOut</a>
        </nav>
    </div>
    <!--<div class="search-bar">
        <div class="input-group has-validation" style="margin-left: 10%; padding-top: 3%; width: 25%;">
            <span class="input-group-text" id="inputGroupPrepend" style="background-color: #3563E9; color: white;">What?</span>
            <input type="text" class="form-control" style="font-size: 16px; font-style: italic; height:50px" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required="" placeholder="Cybersecurity">
        </div>
        <div class="input-group has-validation" style="margin-left: 2%; padding-top: 3%; width: 25%;">
            <span class="input-group-text" id="inputGroupPrepend" style="background-color: #3563E9; color: white;">Where?</span>
            <input type="text" class="form-control" style="font-size: 16px; font-style: italic; height:50px" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required="" placeholder="Dallas,TX">
        </div>
        <a routerLink="/" style="margin-left: 2%; padding-top: 3%;"><button class="search" style="height:49px;"> Search </button></a>
    </div>-->
    <div class="bottom-text">
        <h1 class="progress-text"> My Progress </h1>
        <div class="bottom-tabs">
            <h1 class="tab-text" (click)="suggestedJobs()" style="cursor: pointer;"> Suggested Jobs </h1>
            <h1 class="tab-text" style="padding-left: 100px; cursor: pointer;" (click)="appliedJobs()"> Applied Jobs </h1>
        </div>
        <div *ngIf = "suggestedJobsClicked" class="highlighter">
        </div>
        <div *ngIf = "appliedJobsClicked" class="highlighter-applied" style="margin-left: 307px;">
        </div>
    </div>
    <div class="bottom-section">
        <div id="suggestedjobs" *ngIf = "suggestedJobsClicked">
            <h1 class="suggested-jobs" *ngIf = "suggestedJobsClicked"> Currently Empty. Help us by applying to jobs now!</h1>
        </div>
        <div id="jobdiv">
            <h1 class="suggested-jobs" *ngIf = "appliedJobsClicked"> Currently Empty. Apply to jobs now!</h1>
        </div>
        
    </div>
</div>
