<div class="body">
    <div class="header">
        <h1 class="trade-mark-green"> V </h1>
        <h1 class="trade-mark-blue"> Linked </h1>
        <a class="jobs-link" style="text-decoration: none;"> Jobs </a>
        <a class="resume-link" style="text-decoration: none;"> Resume Builder </a>
        <nav class="button-location">
            <a routerLink="/"><button class="login" > Log Out </button></a>
        </nav>
    </div>
    <div class="search-bar">
        <div class="input-group has-validation" style="margin-left: 10%; padding-top: 3%; width: 25%;">
            <span class="input-group-text" id="inputGroupPrepend" style="background-color: #3563E9; color: white;">What?</span>
            <input type="text" class="form-control" style="font-size: 16px; font-style: italic; height:50px" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required="" placeholder="Cybersecurity">
        </div>
        <div class="input-group has-validation" style="margin-left: 2%; padding-top: 3%; width: 25%;">
            <span class="input-group-text" id="inputGroupPrepend" style="background-color: #3563E9; color: white;">Where?</span>
            <input type="text" class="form-control" style="font-size: 16px; font-style: italic; height:50px" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required="" placeholder="Dallas,TX">
        </div>
        <a routerLink="/" style="margin-left: 2%; padding-top: 3%;"><button class="search" style="height:49px;"> Search </button></a>
    </div>
    <div class="bottom-text">
        <h1 class="progress-text"> My Progress </h1>
        <div class="bottom-tabs">
            <h1 class="tab-text"> Suggested Jobs </h1>
            <h1 class="tab-text" style="padding-left: 100px;"> Applied Jobs </h1>
        </div>
        <div class="highlighter">
        </div>
    </div>
    <div class="bottom-section">

    </div>
</div>
